@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);


/************************************Home Page*****************/
#h1Name{

	font-size:70px;
	text-align:center;
	text-transform:uppercase;
	background-color: white;
}

html,body{
	height:100vh;

}

h1{
	margin:0px;
	font-size:50px;
	text-align: center;
	color:rgb(255,160,122);

}

#spanColor{
	color:#FFA07A;
}


body{	
	font-family:'Oxygen', Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1em;
	background:rgb(255,160,122);
	color:black;
	align-items: center;
	/*background:rgb(255,160,122);*/
}

p{
	color:black;
	font-size:30px;
	font-weight: bold;
}
#introimg{
	object-fit: cover;
	align-self: center;
	margin-top: 50px;
  	border-radius: 50%;
  	width: 300px;
  	height: 300px;
}

#description{
	margin-top: 5vh;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:lighter;
	font-style:italic;
}


ul{
	text-align: left;
	margin-right: 6%;
}

li{
	padding-top:0.75vh;
	display:inline-block;
	margin-left: 70px;
	position:relative;
	padding-bottom: 1vh;

}

.HoverButton>ul>li>a{
	color:#444;
	text-decoration: none;
	font-variant: small-caps;
	font-weight:bold;
	font-size:20px; 
}
.button.active{
	background:red;
	color:white;
}

.HoverButton>ul>li>a::before{
	transition: all ease-in-out 250ms;
	content:"";
	display:block;
	height:6px;
	width:100%;
	background-color: #444;
	position:absolute;
	top:2px;
	width:0%;

}

.HoverButton>ul>li>a:hover::before{
	width:100%;
}

.HoverButton>ul>li>a:hover{
	display: block;
	height:6%;
	color:#000;
}


.tabPanel{
	width:88%;
	height:87vh;
	background:rgb(255,248,220);
	padding:40px;
	text-align:center;
	margin:auto;
	color:white;
	display:none;
	align-items:baseline;
}


footer{
	margin-top: 10px;
	text-align:center;
}



/**************************** About Me **************************/

#JobNotice{
	font-size:2.5vh;
	text-align: left;
	margin-top: 2vh;
	filter:brightness(50%);
}
.AboutMe{
	font-size:2.5vh;
	font-family: 'PT Sans', Helvetica, sans-serif;
	color:#555;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 1vh;
	margin-top:0.5vh;
	font-weight: 300;
}

#ProfPic{
	float:left;
	align-items: center;
	margin:5vh;
}
