@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);


/************************************Home Page*****************/
#h1Name{
	font-size:70px;
	text-align:center;
	text-transform:uppercase;
	background-color: white;
}

.tabContainer{

}
html,body{
	height:70vh;
	background:rgb(255,160,122)!important;
}

h1{
	margin:0px;
	font-size:50px;
	text-align: center;
	color:rgb(255,160,122)!important;
}

body{	
	font-family:'Oxygen', Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1em;
	color:black;
	align-items: center;
	/*background:rgb(255,160,122);*/
}

p{
	color:black;
	font-size:30px;
	font-weight: bold;
}

#introimg{
	object-fit: cover;
	align-self: center;
	margin-top: 50px;
  	border-radius: 50%;
  	width: 300px;
  	height: 300px;
}

#description{
	margin-top: 5vh;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:lighter;
	font-style:italic;
}


ul{
	text-align: left;
	margin-right: 6%;
}

li{
	padding-top:0.75vh;
	display:inline-block;
	margin-left: 70px;
	position:relative;
	padding-bottom: 1vh;

}

.HoverButton{
	color:#444;
	text-decoration: none;
	font-variant: small-caps;
	font-weight:bold;
	font-size:20px; 
}


.HoverButton::before{
	transition: all ease-in-out 250ms;
	content:"";
	display:block;
	height:6px;
	width:100%;
	background-color: #444;
	position:absolute;
	top:2px;
	width:0%;
}

.HoverButton:hover::before{
	width:100%;
}

.HoverButton:hover{
	display: block;
	height:2%;
	color:#000;
	text-decoration: none;
}

.HoverButton:focus{
	height:2%;
	color:#000;
	cursor:pointer;
}


#HomePanel,#AboutMePanel{
	width:90%;
	min-height:85vh;
	background:rgb(255,248,220);
	padding:2vh;
	text-align:center;
	margin:auto;
	color:white;
	display:none;
	align-items:baseline;
}

footer{
	margin-top: 5px;
	text-align:center;
	float:center;
}



/**************************** About Me **************************/

#JobNotice{
	font-size:2.5vh;
	text-align: left;
	margin-top: 2%;
	filter:brightness(80%);
	color:rgb(255,160,122);
}
.AboutMe{
	font-size:2.5vh;
	font-family: 'PT Sans', Helvetica, sans-serif;
	color:#555;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 1vh;
	margin-top:0.5vh;
	font-weight: 300;
}

#ProfPic{
	float:left;
	max-height:90%;
	height:55vh;
	width:25%;
	margin-left:3.5vh;
	margin-right:3.5vh;
	margin-top: 7%;

}

.buttonContainer{
	float:right;
	padding: 0.5vh;
	float:left;
	text-decoration: none;
}

.textBox{
	margin-right: 5vh;
	align-items: left;
	float:center;
}

.FunFactImage{
	max-height: 100%;
	max-width: 32%;
}

.FunFactBox{
	padding-top: 5vh;
	align-self: right;
	max-width: 65%;
	float:left;
}