@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);


/************************************Home Page*****************/
#h1Name{
	font-size:70px;
	text-align:center;
	text-transform:uppercase;
	background-color: white;
}

.tabContainer{

}
html,body{
	height:70vh;
	background:rgb(255,160,122)!important;
}

h1{
	margin:0px !important;
	font-size:50px;
	text-align: center;
	color:rgb(255,160,122)!important;
}

body{	
	font-family:'Oxygen', Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1em;
	color:black;
	align-items: center;
}

p{
	color:black;
	font-size:30px;
	font-weight: bold;
}

#introimg{
	object-fit: cover;
	align-self: center;
	margin-top: 50px;
  	border-radius: 50%;
  	width: 300px;
  	height: 300px;
}

#description{
	margin-top: 5vh;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:lighter;
	font-style:italic;
}

ul{
	text-align: left;
	margin-right: 6%;
	margin-bottom: 0.5rem !important;
}

li{
	padding-top:0.75vh;
	display:inline-block;
	margin-left: 70px;
	position:relative;
}

.HoverButton{
	color:#444;
	text-decoration: none;
	font-variant: small-caps;
	font-weight:bold;
	font-size:20px; 
	margin-left: auto;
}


.HoverButton::before{
	transition: all ease-in-out 250ms;
	content:"";
	display:block;
	height:6px;
	width:100%;
	background-color: #444;
	position:absolute;
	top:2px;
	width:0%;
}

.HoverButton:hover::before{
	width:100%;
}

.HoverButton:hover{
	display: block;
	height:2%;
	color:#000;
	text-decoration: none;
}

.HoverButton:focus{
	height:2%;
	color:#000;
	cursor:pointer;
}


#HomePanel,#AboutMePanel,#ResumePanel{
	width:90%;
	min-height:90vh;
	background:rgb(255,248,220);
	padding:5vh;
	text-align:center;
	margin:auto;
	color:white;
	display:none;
	align-items:baseline;
}

footer{
	margin-top: 5px;
	text-align:center;
	float:center;
}



/**************************** About Me **************************/
#JobNotice{
	font-size:2.5vh;
	text-align: left;
	margin-top: 5%;
	filter:brightness(80%);
	color:rgb(255,160,122);
}
.AboutMe{
	font-size:2.5vh;
	font-family: 'PT Sans', Helvetica, sans-serif;
	color:#555;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 1vh;
	margin-top:0.5vh;
	font-weight: 300;
	margin-right: 5vh;
}

#ProfPic{
	float:left;
	max-height:90%;
	height:55vh;
	width:40vh;
	margin-left:3.5vh;
	margin-right:3.5vh;
	margin-top: 5vh;
	clear:both;
}

.buttonContainer{
	float:left;
	padding-right: 0.5vh;
	text-align: left;
	text-decoration: none;
}

.textBox{
	align-items: left;
	display: block;
	margin-top: 5vh;
	float:center;
}

/*/////////////////////////Fun Facts Stuff//////////////////////*/

#FunFactH1{
	clear:both;
	width:100%;
}

.FunFactImage{
	max-height: 100%;
	max-width: 15%;
	margin-right: 2%;
	align-content: center;
	line-height:1.5;

}

div.FunFactBox.row{
	min-height: 30vh;
	padding-left: 3.5vh;
	margin-right: 3.5vh;
	margin-bottom: 0.2%;
}

.hoverText{
	height:33%;
	font-size:3.5vh;
	align-content: center;
	color:white !important;
	line-height:1.25;
}

img.img-responsive{
	height:95%
	width:100%;

}

.FunFactBox.row{
	padding-top: 2vh;
	text-align: left;
}

.hovereffect {
	width:100%;
	height:100%;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
}

.hovereffect .overlay {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	opacity:0;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
}

.hovereffect img {
	display:block;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}

.hovereffect h2 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:10px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
}

.hovereffect a.info {
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
	border:1px solid #fff;
	background-color:transparent;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	margin:50px 0 0;
	padding:7px 14px;
}


.hovereffect:hover img {
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

.hovereffect:hover .overlay {
	opacity:1;
	filter:alpha(opacity=100);
}

.hovereffect:hover h2 {
	opacity:1;
	filter:alpha(opacity=100);
	-ms-transform:translatey(0);
	-webkit-transform:translatey(0);
	transform:translatey(0);
}

/*                               Resume Panel             */

.ResumeSection h1{
	font-size: 5vh;
}

.ResumeCol{
	width:33%;
	text-align: left !important;
	height: 80vh;
	float:left;
}

.ResumeTopic{
	color:black;
	text-align: left;
	font-size:2.5vh;
	overflow: hidden;
	float:left;
	font-weight: 500;
	font-style: bold;
}

.ResumeLocation{
	font-weight: 500;
	font-style: bold;
	color:black;
	text-align: left;
	font-size:2.5vh;
	overflow: hidden;
	white-space:nonwrap;
	float:right;
}	

.description{
	font-size:2.5vh;
	color:black;
	display:inline-block;
	text-align: left;
	font-weight: 400;
}

.ResumeSection p{
	margin-bottom: 0px;
	color:gray;
	font-size: 2vh;
	text-align: left;
	margin-left: 0px;
	line-height: 1.5;
}

.ResumeSection{
	padding-bottom: 1rem;
}

.ResumeSection .buttonContainer{
	float:right;
}


/*///////////////////////////////////////////Skill Bar/////////////////////////*/
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}